.text-primary {
  color: $clr-primary !important;
}

.text-primary-dark {
  color: $clr-primary-dark !important;
}

.text-brand {
  color: $clr-brand !important;
}

.text-cta {
  color: $clr-cta !important;
}

.text-success-light {
  color: $clr-success-light !important;
}

.text-success-dark {
  color: $clr-success-dark !important;
}

.text-success-dark {
  color: $clr-success-dark !important;
}

.text-brand-light {
  color: $clr-brand-light !important;
}

.text-accent {
  color: $clr-accent !important;
}

.text-accent-bold {
  color: $clr-accent-bold !important;
}

.text-accent-light {
  color: $clr-accent-light !important;
}

.text-secondary {
  color: $clr-secondary !important;
}

.text-secondary-light {
  color: $clr-secondary-light !important;
}

.text-cta-light {
  color: $clr-cta-light !important;
}

.text-warning {
  color: $clr-warning !important;
}

.text-success {
  color: $clr-success !important;
}

.bg-primary {
  background: $clr-primary !important;
}

.bg-secondary {
  background: $clr-secondary !important;
}

.bg-secondary-light {
  background: $clr-secondary-light !important;
}

.bg-accent {
  background: $clr-accent !important;
}

.bg-brand {
  background: $clr-brand !important;
}

.bg-accent-light {
  background: $clr-accent-light !important;
}

.bg-accent-table {
  background: $clr-accent-table !important;
}

.bg-accent-bold {
  background: $clr-accent-bold !important;
}

.bg-cta {
  background: $clr-cta !important;
}

.bg-cta-light {
  background: $clr-cta-light !important;
}

.bg-warning {
  background: $clr-warning !important;
}

.bg-success {
  background: $clr-success !important;
}

.bg-success-light {
  background: $clr-success-light !important;
}

.bg-brand-light {
  background: $clr-brand-light !important;
}
